<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzxOWtnLZhhtij5EtEAySJyPVErg3EhI4</string>
	<key>GCM_SENDER_ID</key>
	<string>559767506702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yantrik</string>
	<key>PROJECT_ID</key>
	<string>yantrik-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>yantrik-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559767506702:ios:c9ec3c93a14888facfd15f</string>
</dict>
</plist>